In [1]:
from datetime import datetime
import MetaTrader5 as mt5
import pymysql, pytz
import pandas as pd 
import numpy as np

In [2]:

    """
    获取连续11小时的GBPUSD收盘价数据
    """
    if not mt5.initialize():
        print("initialize() failed, error code =", mt5.last_error())
        quit()
#     # 将时区设置为UTC
#     timezone = pytz.timezone("Etc/UTC")
#     # 以UTC时区创建'datetime'对象，以避免实现本地时区偏移
#     utc_from = datetime(2020, 4, 15, tzinfo=timezone)
#     # 在UTC时区，获取----开始的11个EURUSD H4柱形图
    rates = mt5.copy_rates_from_pos('GBPUSD', mt5.TIMEFRAME_D1, 1, 2010)
#     print(rates)
#     print(type(rates))
    ticks_frame = pd.DataFrame(rates)
#     ticks_frame['time']=pd.to_datetime(ticks_frame['time'], unit='s')
#     print(ticks_frame)
#     print(ticks_frame['close'])
#     close_list = ticks_frame['close'].tolist()
#     print(close_list)
#     df_EURUSD = pd.DataFrame(columns=['t1', 't2', 't3', 't4', 't5', 't6', 't7', 't8', 't9', 't10', 't11'])
#     for i in range(len(close_list)-10):
# #     print(close_list[i:i + 11])
#         df_EURUSD.loc[len(df_EURUSD)] = close_list[i:i + 11]
#     df_EURUSD = pd.DataFrame(columns=['close', 'change'])
    df_GBPUSD = ticks_frame['close']

In [3]:
ticks_frame

,time,open,high,low,close,tick_volume,spread,real_volume
0,1345593600,1.57818,1.58824,1.57679,1.58809,64260,10,0
1,1345680000,1.58810,1.59113,1.58553,1.58578,65245,10,0
2,1345766400,1.58581,1.58683,1.58017,1.58089,58235,10,0
3,1346025600,1.58138,1.58276,1.57863,1.57886,42411,10,0
4,1346112000,1.57885,1.58349,1.57534,1.58176,53341,10,0
...,...,...,...,...,...,...,...,...
2005,1589500800,1.22216,1.22389,1.21009,1.21020,64170,0,0
2006,1589760000,1.20852,1.22274,1.20739,1.21937,60389,0,0
2007,1589846400,1.21932,1.22961,1.21837,1.22502,57938,0,0
2008,1589932800,1.22498,1.22874,1.22211,1.22363,52724,0,0
2009,1590019200,1.22360,1.22493,1.21852,1.22161,52692,0,0

In [4]:
# close_array = np.array(ticks_frame['close'])
# len(close_array)

In [5]:
# for i in range(len(close_array)-1):
#     change = (close_array[i+1] - close_array[i])*1000
#     df_EURUSD.loc[i] = [close_array[i+1], change]

In [6]:
df_GBPUSD

0       1.58809
1       1.58578
2       1.58089
3       1.57886
4       1.58176
         ...
2005    1.21020
2006    1.21937
2007    1.22502
2008    1.22363
2009    1.22161
Name: close, Length: 2010, dtype: float64

In [7]:

    df_GBPUSD.to_csv('GBPUSD_data_D1.csv',encoding='utf_8_sig')